html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

#input {
  width: inherit;
  padding: 15px;
  border: none;
  border-top: 1px solid #BBBBBB;
  outline: none;
}

#todos {
  width: 100%;
  height: 100%;
}

.todo {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #BBBBBB;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.task-text {
  display: inline-block;
  padding-left: 15px;
}

.control {
  display: inline-block;
  padding-right: 15px;
}

.checkbox {
  display: inline-block;
}

.remove {
  display: inline-block;
}
